# ==POSTGRES for Grafana==
# Database provisioning
POSTGRES_DB: ${GF_POSTGRES_DB:-grafana}
POSTGRES_USER: ${GF_POSTGRES_USER:-grafana}
POSTGRES_PASSWORD: ""

# ==GRAFANA==
# Grafana's connect Configuration
GF_DATABASE_TYPE: postgres
GF_DATABASE_HOST: postgres:5432
GF_DATABASE_NAME: ${POSTGRES_DB:-grafana}
GF_DATABASE_USER: ${POSTGRES_USER:-grafana}
GF_DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
GF_DATABASE_SSL_MODE: disable

# Server Configuration
GF_SERVER_DOMAIN: server.com
GF_SERVER_ROOT_URL: https://server.com
GF_SERVER_SERVE_FROM_SUB_PATH: "true"
GF_SERVER_ENFORCE_DOMAIN: "true"

# Security
GF_SECURITY_ADMIN_USER: ${GF_ADMIN_USER:-admin}
GF_SECURITY_ADMIN_PASSWORD: "# ==POSTGRES for Grafana==
# Database provisioning
POSTGRES_DB: ${GF_POSTGRES_DB:-grafana}
POSTGRES_USER: ${GF_POSTGRES_USER:-grafana}
POSTGRES_PASSWORD: ""

